<html lang="en">
		<div>
			<% if (username) { %>
        <form method="POST" action="/logout">
        <input type="submit" value="LOGOUT"></form>
      <% } else { %>
					<a href="/login">Login</a>
					<a href="/register">Register</a>
      <% } %>
		</div>
</html>
