<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <script src="https://use.fontawesome.com/3770941ad6.js"></script>
</head>
<body>
  <% for(const key in url) { %>
    <div>
      <%= `${key} --> ${url[key]}` %>
      <form method="POST" action="/urls/<%=key%>/delete" style="display:inline-block">
        <a href="<%=`/urls/${key}`%>"> Edit </a>
        <button>delete <i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </form>
    </div>
    <br/>
  <% } %>

      <!-- <form method="POST" action="/urls/9sm5xK/delete"><button type> delete</button></form> -->
</body>
</html>
