<h2>Register with us!</h2>
<form method="POST" action="/register">
  <input type="email" name="email" placeholder="email"/>
  <input type="password" name="password" placeholder="password"/>
    <button>
      Register
    </button>
</form>
