<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans" rel="stylesheet">
  <!-- <link rel="stylesheet" type="text/css" href="css/styles.css">  -->
  <style>
    body {
      font-family: 'Josefin Sans', sans-serif;;
      /*background-color: pink;*/
      background-image:url('http://www.imgbase.info/images/safe-wallpapers/miscellaneous/simple/13265_simple_green_panda_panda.jpg');
      background-repeat:no-repeat;
      background-size: 100% 140%;
    }
    #title {
      font-family: 'Indie Flower', cursive;
    }
  </style>
</head>
<body>
  <% include ./partials/_header%>
  <div id='wrapper' style="text-align: center">
    <div id='nav-div' style="display:inline-block">
      <div>
        <a>Tiny URL &#10139; <%=shortURL%></a> &#9747; &#9747; &#9747; <a>Original URL &#10139; <%=longURL%></a>
      </div>
      <form action="/urls/<%=shortURL%>/edit" method="POST" style="margin:150px;">
        <label for="longURL">Update longURL here:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Edit">
      </form>
    </div>
  </div>
</body>
</html>
